{% block balance_report_chart %}

<svg id="chart" width="720" height="360"></svg>
<script src="/static/js/d3/d3.js" charset="utf-8"></script>
<script>

  // TODO: need something to happen on mouseover (show data point)
  // TODO: try and make the chart at least somewhat responsive? or smaller?
  // --> aligulac is responsive (they're using high charts)
  // TODO: this whole script should almost definitely be in a completely diff file

  // we grab the JSON from django, unpack it and throw it into the ol data array
  // the JSON is a list of dicts in the form {'x': i, 'y': j}
  data_from_django = {{ response_data|safe }};

  // gets the desired data series (e.g. id = 'PvT') from the json
  function unpack_data_json(data_json, id) {
    data = [];
    for (var i = 0; i < data_json[id].length; i++) {
      data.push({x: data_json[id][i]['x'], y: data_json[id][i]['y']})
    }
    return data;
  }

  // get the data series'
  zvp_data = unpack_data_json(data_from_django, 'ZvP');
  zvt_data = unpack_data_json(data_from_django, 'ZvT');
  pvt_data = unpack_data_json(data_from_django, 'PvT');

  // TODO: should determine these dynamically
  x_min = 0;
  x_max = 24;
  y_min = 0;
  y_max = 100;

  var chart = d3.select('#chart'),
    WIDTH = 720, // make this responsive?
    HEIGHT = 360, // make this responsive?
    MARGINS = {top:20, right:20, bottom:20, left:50},
    xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([x_min, x_max]),
    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([y_min, y_max]),
    xAxis = d3.svg.axis()
      .scale(xRange)
      .tickSize(5)
      .tickSubdivide(true),
    yAxis = d3.svg.axis()
      .scale(yRange)
      .tickSize(5)
      .orient('left')
      .tickSubdivide(true);

    chart.append('svg:g')
      .attr('class', 'x axis')
      .attr('transform', 'translate(0,' + (HEIGHT - MARGINS.bottom) + ')')
      .call(xAxis);

    chart.append('svg:g')
      .attr('class', 'y axis')
      .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
      .call(yAxis);

    // line generator function which returns x and y coordinates
    var lineFunc = d3.svg.line()
      .x(function(d) {
        return xRange(d.x)
      })
      .y(function(d) {
        return yRange(d.y)
      })
      //.interpolate('linear') // tells d3 to draw straight lines

    // set the d attribute of the SVG path to the coordinates returned from line function
    chart.append('svg:path')
      .attr('d', lineFunc(zvt_data))
      .attr('stroke', 'blue') // line color
      .attr('stroke-width', 2)
      .attr('fill', 'none');

    chart.append('svg:path')
      .attr('d', lineFunc(zvp_data))
      .attr('stroke', 'red') // line color
      .attr('stroke-width', 2)
      .attr('fill', 'none');

    chart.append('svg:path')
      .attr('d', lineFunc(pvt_data))
      .attr('stroke', 'purple') // line color
      .attr('stroke-width', 2)
      .attr('fill', 'none');

</script>

{% endblock %}
