<!DOCTYPE html>

{% load staticfiles %}

  <head>
    <title>sc2stats</title>
  </head>

  <body>
    <h1>sc2stats says...</h1>
    gl;hf <strong>{{ heart }}</strong><br/>
    <a href='/sc2stats/about/'>about</a><br/>
    here is a <a href='/sc2stats/win_rate_report/'>report on player win rates</a><br/>
    <h3>here is some static media</h3>
    <img src="{% static "images/tigershark.jpg" %}" alt="static image"/>
    <br/>
    by the way here are the first three players alphabetically
    {% if player_list %}
      <ul>
        {% for player in player_list %}
        <li>{{ player.player_id }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3>future</h3><br/>
    ultimately this site will have the ability to generate the following reports:<br/>
    <ul>
      <li>balance report</li>
        <ul>
          <li>race win % by map or overall</li>
          <li>filter by season</li>
          <li>filter by league</li>
        </ul>
      <li>player statistics</li>
        <ul>
          <li>overall record</li>
          <li>record by matchup (e.g. ZvP)</li>
          <li>record by map</li>
          <li>record by league, season, etc.</li>
        </ul>
    </ul>
  </body>

</html>
