<!DOCTYPE html>

{% load staticfiles %}

  <head>
    <title>sc2 - player win rates</title>
  </head>

  <body>
    <h1>Player win rates</h1>
    <h3>top performers</h3><br/>
    here are the top three players<br/>
    {% if top_players %}
      <ul>
        {% for player_name, win_rate in top_players %}
        <li>{{ player_name }} -- {{ win_rate }}%</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3>all data</h3><br/>
    here's the data for all players<br/>
    {% if all_players %}
      <ul>
        {% for player_name, win_rate in all_players %}
        <li>{{ player_name }} -- {{ win_rate }}%</li>
        {% endfor %}
      </ul>
    {% endif %}
    back to <a href='/sc2stats'>home</a>
  </body>

</html>
