
.social {
  width: 20px;
  height: 20px;
}
.jumbotron {
  background-color: #00b5ba;
}
.jumbotron h1 {
  color: #fff;
}
.jumbotron p {
  color: #fff;
}
.navbar {
  background-color: #000;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 300;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #00b5ba;
  border-color: #00b5ba;
  border-radius: 0;
}

/* charts and graphs */
.attribution {
  font-size: small;
  margin-left: 2em;
  margin-bottom: 2em;
  margin-top: .5em;
}
.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
/* pie/donut chart */
#piechart {
  height: 360px;
  position: relative;
  width: 360px;
  margin: auto;
  padding: 1em;
}
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
